body{
    font-size: 14px;
    font-family: 'Poppins';
}
.nav-section{
    width: 100%;
    height: 90vh;
    background-color: #FEB700;
}
.navbar .nav-item .nav-link{
    color: rgb(0, 0, 0);
}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link.active{
    font-weight: bold;
}



/* -----------------------common elements---------------------- */

.content-color{
    color: rgb(177, 174, 174);
    text-align: justify;
}
.underline{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* -----------------------common elements---------------------- */



.home{
    margin: 0 auto;
    margin-top: 200px;
}
.home h1{
    font-size: 50px;
    color: black;
}
.home p{
    font-size: 22px;
    color: rgb(61, 61, 61);
    
}
.home button{
    color: #FEB700;
    background-color: #232323;
    border-radius: 25px;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.home img{
    height: 90vh;
    width: auto;
    position: absolute;
    top: 250px;
    bottom: 2px;
    right: 50px;
}
.home .home-icons{
    margin-top: 50px;
}
.home .home-icons a svg{
    color: black;
    margin-right: 30px;
    width: 20px;
    height: auto;
    transition: 0.3s ease;
}
.home .home-icons a svg:hover{
    opacity: 0.7;
}
@media (max-width: 600px){
    .home{
        margin-top: 100px;
    }
    .home img{
        height: 40vh;
        width: auto;
        margin-top: 300px;
    }
}



/* -- ------------------------------------about start---------------------------------------------- -- */

.about{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #292828;
}
.about h3{
    color: white;
}
/* .about p{
    margin-top: 10px;
} */
.about  button{
    background-color: #FEB700;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 20px;
    transition: 0.3s ease;
}


/* -- ------------------------------------about end---------------------------------------------- -- */




/* -- ------------------------------------services start---------------------------------------------- -- */


.services{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #232323;
    position: relative;
}
.services .service-cards{
    margin: 0 auto;
    margin-top: 55px;
}
.services .service-cards .card{
    background-color: #1E1F21;
    border-radius: 27px;
    padding: 10px;
    height: 100%;
}
.services .service-cards .card svg{
    color: white;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}
.services .service-cards .card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.services .service-cards .card a:hover{
    color: rgb(175, 171, 171);
}
.services .service-cards .service-card-bg{
    padding: 5px;
    background-color: #FEB700;
    width: 20%;
    border-radius: 27px;
}
.services .service-img-bg1{
    opacity: 0.1;
    position: absolute;
    top: 50;
    right: 0;
}
.services .service-img-bg2{
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* -- ------------------------------------services end---------------------------------------------- -- */






/* -- ------------------------------------portfolio start---------------------------------------------- -- */


.portfolio{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #312E2E; 
}

.portfolio img{
    border: 0;
    opacity:1;
    border-radius: 0;
    transition: 1s ease;
}
.portfolio .load-more button{
    background-color: transparent;
    color: white;
    border-radius: 0;
    transition: 0.5s ease;
    padding:  6px 10px;
}
.portfolio img:hover{
    
    opacity:0.8;
transition: 1s ease;
}
.portfolio-details p{
    width: 50%;
    text-align: justify;
}
.portfolio   .filter-buttons{
    margin-top: 50px;
    margin-bottom: 20px;
}
.portfolio   .filter-buttons .view-all{
    border: 1px solid rgb(204, 200, 200);
    transition: 0.3s ease;
    
}
@media(max-width: 991px){
    .portfolio-details p{
        width: 100%;
    }
    .portfolio   .filter-buttons {
        display: block;
        flex-wrap: wrap;
        margin-top: -10px;
    }
}
.portfolio  .btn{
    font-size: 13px;
    margin-top: 25px;
    /* margin-bottom: 30px; */
    border-radius: 0;
    background-color: transparent;
}


.portfolio  .btn:focus{
    outline: none!important;
    box-shadow: none!important;
}
.portfolio .btn-primary{
    background-color: transparent;
    color: rgb(224, 211, 211);
    border: none;
}
.portfolio  .btn-primary:hover, .portfolio  .btn-primary:focus, .portfolio  .btn-primary.active{
    background-color: transparent;
    color: #FEB700;
}
.portfolio-item{
    border: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    position: relative;
}
.portfolio-img:hover::after{
    width: 100%;
    height: 100%;
}

/* -- ------------------------------------portfolio end---------------------------------------------- -- */






/* -- ------------------------------------customers start---------------------------------------------- -- */


.customers{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #3D3C3C; 
}
.customers .customer-logos{
    margin: 0 auto;
    margin-top: 55px;
}
.customers .customer-logos img{
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.customers .customer-logos button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.customers .customer-logos button.active{
    width: 35px;
    border-radius: 50%;
}


/* -- ------------------------------------customers end---------------------------------------------- -- */





/* -- ------------------------------------blog end---------------------------------------------- -- */

.blog{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #212121; 
}
.blog .card img{
    width: 100%;
    height: auto;
    border-radius: 27px 27px 0px 0px;
}
.blog .card a{
    color: rgb(228, 218, 218);
    text-decoration: none;
    transition: 0.3s ease;
}
.blog .card a:hover{
    color: #FEB700;
}
.blog .card{
    background-color: #201E1E;
    width: 400px;
    border-radius:  27px 27px 0px 0px;
}
.blog .blog-cards{
    margin-top: 50px;
    margin-bottom: 25px;
}
.blog  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #201E1E;
    overflow: hidden;
    width: 100%;
    height: 30%;
    transition: .5s ease;
  }
  
  .blog .blog-cards .card:hover .overlay {
    height: 60%;
    border-radius:  27px 27px 27px 27px;
  }
  .blog  .view-all{
    text-align: center;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s ease;
  }
  .blog  .view-all:hover{
    color: #FEB700;
  }




/* -- ------------------------------------blog end---------------------------------------------- -- */

/* img.vert-move {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 1s infinite  alternate;
} */
  img.vert-move {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}

















  .our-team {
    padding: 1.2rem 0.75rem;
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
     rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  .our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .pic {
    background: #FEB700;
    border-radius: 50%;
  }
  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .our-team .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FEB700;
    margin: 0 0 7px 0;
  }
  .our-team .post {
    display: block;
    font-size: 1rem;
    color: #FEB700;
    margin-bottom: 1rem;
  }
  .our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .our-team .social li {
    display: inline-block;
    margin-right: 5px;
  }
  .our-team .social li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #60c5a8;
    border: 1px solid #FEB700;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social li a {
    background: #60c5a8;
    color: #fff;
  }
  
  .social li a:hover {
    background-color: #025784 !important;
    border: none;
    text-decoration: none;
  }
  .our-team .team-img-bg {
    background-color: red;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 992px) {
    .our-team {
      margin-bottom: 2rem;
    }
  }
  